// <BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 36px;
    font-size: rem(24);
    border: 2px solid $mainColor;
    transition: all 0.3s ease 0s;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 0%;
        height: 100%;
        background-color: $mainColor;
        transition: all 0.3s ease 0s;
    }
    &_s {
        padding: 10px 36px;
        font-size: rem(18);
    }
    @media (any-hover: hover) {
        &:not(:disabled):hover {
            color: #ffdc55;
            &::before {
                width: 100%;
            }
        }
    }
    @media (max-width: $mobileSmall) {
        width: 100%;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }
}
