.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    &__label {
        position: relative;
        display: inline-flex;
        gap: 15px;
        align-items: center;
        cursor: pointer;
        &::before {
            content: "";
            flex: 0 0 21px;
            align-self: center;
            width: 21px;
            height: 21px;
            background-color: transparent;
            border: 2px solid #fff;
            transition: background-color 0.3s;
            .cloth-filter & {
                display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 3px;
            width: 20px;
            height: 20px;
            background: url("@img/icons/check-mark.svg") center/contain no-repeat;
            opacity: 0;
            transition: opacity 0.3s;
            .cloth-filter & {
                display: none;
            }
        }
        &_square {
            justify-content: center;
            width: 78px;
            height: 78px;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: rgba($color: $mainColor, $alpha: 0.5);
                }
            }
            svg {
                fill: #333;
            }
        }
        &_rectangle {
            svg {
                width: 93px;
                height: 30px;
                fill: $mainColor;
            }
        }
        &_round {
            &::before {
                content: "";
                border-radius: 50%;
            }
            &::after {
                top: 4px;
            }
        }
    }
    &__input {
        &:disabled + .checkbox__label::before {
            background: transparent;
            border: 2px solid $bgColor;
        }
        &:focus + .checkbox__label_border_white::before {
            outline: 1px solid #fff;
        }
        &:checked + .checkbox__label {
            &::before {
                background-color: #fff;
            }
            &::after {
                opacity: 1;
            }
            &_square {
                background-color: #feeda9;
            }
        }

        &:focus-visible + .checkbox__label_border_white::before {
            outline: 1px solid #fff;
        }
        &:checked:disabled + .checkbox__label::before {
            background-color: $bgColor;
        }
        &:disabled + .checkbox__label {
            color: $bgColor;
            cursor: auto;
            svg {
                fill: $bgColor;
            }
        }
        &:focus:not(:focus-visible) + .checkbox__label::before {
            outline: 0;
        }
    }
}
