// <SELECT>
// Снипет (HTML): sel
.select {
    position: relative;
    font-size: rem(14);
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        width: 100%;
        color: inherit;
        text-align: left;
        cursor: pointer;
        background-color: #fff;
    }
    // .select__value
    &__value {
        display: flex;
        gap: rem(10);
        align-items: center;
        height: rem(40);
        padding: 0 rem(12) 0 rem(35);
        @media (max-width: $mobileSmall) {
            padding: 0 rem(6);
        }
        > * {
            flex: 1 1 auto;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 14px;
            width: 0;
            height: 0;
            border-top: 5px solid $mainColor;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            transition: all 0.3s ease 0s;
            transform: translateY(-50%);
        }
        &._select-pseudo-label {
            &::before {
                content: attr(data-pseudo-label);
                opacity: 0.5;
            }
        }
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
    }
    &__input {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 47px;
        left: 0;
        min-width: 100%;
        padding: 10px 0 5px 0;
        color: $mainColor;
        background-color: #fff;
        border-top: 0;
        border-radius: 0 0 4px 4px;
    }
    // .select__scroll
    &__scroll {
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        // Стили скроллбара
        .simplebar-scrollbar {
            &::before {
                // opacity: 1;
            }
        }
    }
    // .select__option
    &__option {
        width: 100%;
        padding: 5px 15px;
        color: inherit;
        text-align: left;
        cursor: pointer;
        &._select-selected {
            color: #cbcbcb;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: rgba($color: $bgColor, $alpha: 0.7);
            }
        }
    }

    // Конструкция дополнительных данных
    &__row {
        display: inline-flex;
        align-items: center;
    }
    &__asset {
    }

    // Состояния селекта
    &._select-open {
        z-index: 5;
    }
    &._select-disabled {
    }
    &._select-active {
    }
    &._select-focus {
    }
    &._select-multiple {
    }
    &._select-checkbox {
    }
}

// Тег
._select-tag {
    position: relative;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -17px;
        width: 11px;
        height: 11px;
        background: url('@img/icons/cross.svg') center no-repeat;
        transform: translate(0, -50%);
    }
    &:not(:last-child) {
        margin-right: rem(30);
    }
}
